
{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion":2016,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver" : {
      "alias" : true
    }
  }
}




